*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.game-container {
    position: relative;
    width: 400px;
    margin: 8rem auto;
}

.traingle {
    width: 100%;
    position: relative;
    z-index: -2;
}

.icon {
    width: 120px;
    height: 120px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 0 0.3rem 0 2px rgba(64, 64, 64, 0.25);
    position: absolute;
}

.icon::after {
    content: "";
    width: 130%;
    height: 130%;
    position: absolute;
    background-color: rgb(152, 8, 225);
    z-index: -1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    box-shadow: 0 0.5rem 0 0px #000000;
    transform: translate(-50%, -50%);
}

.rock {
    left: -10%;
    top: -10%;
}

.paper {
    right: -10%;
    top: -10%;

}

.scissors {
    bottom: -5%;
    left: 35%;
}


/* box-shadow: inset 0 0.3rem 0 2px rgba(64, 64, 64, 0.25), 0 0.5rem 0 0px #b02f2d; */
    /* box-shadow: inset 0 0.3rem 0 2px rgba(64, 64, 64, 0.25), 0 0.5rem 0 0px rgb(117, 219, 47); */
